[Unit]
Description=Run AppSheet presensi at 07:20 (+ up to 25m random)

[Timer]
OnCalendar=*-*-* 07:20:00
Persistent=true
WakeSystem=true
RandomizedDelaySec=25m

[Install]
WantedBy=timers.target
