[Unit]
Description=Run battery-warn every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=battery-warn.service

[Install]
WantedBy=timers.target
