* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font Mono", "Symbols Nerd Font", "Noto Color Emoji", monospace;
  font-size: 20px;
  min-height: 0;
  color: #cdd6f4;
  background: transparent;
}

window#waybar {
  background: rgba(17, 17, 27, 0.85);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 4px 0;
}

#clock,
#network,
#memory,
#pulseaudio,
#battery,
#custom-bluetooth,
#custom-powermenu {
  padding: 4px 12px;
  color: #cdd6f4;
}

#custom-bluetooth {
  color: #89b4fa;
}

#clock {
  color: #89b4fa;
}

#battery.charging {
  color: #a6e3a1;
}

#battery.critical:not(.charging) {
  color: #f38ba8;
}

#pulseaudio.muted {
  color: #585b70;
}

#custom-powermenu {
  color: #f38ba8;
  padding-right: 16px;
}

#network.disconnected {
  color: #f38ba8;
}
